@page "/"

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap="20" Style="height:100%">
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
        Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
        Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
        Nulla fringilla sagittis orci eu consectetur. Fusce eget dolor non lectus placerat
        tincidunt. Pellentesque aliquam non odio ac porttitor. Nam finibus mattis sagittis.
        Ut hendrerit porttitor massa in aliquam. Duis laoreet fringilla feugiat.
        Sed maximus, urna in fringilla posuere, enim urna bibendum justo, vel molestie nibh orci nec lectus.
        Etiam a varius justo. Aenean nisl ante, interdum eget vulputate eget, iaculis ut massa.
        Suspendisse maximus sed purus id molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
        Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
        Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
        Nulla fringilla sagittis orci eu consectetur. Fusce eget dolor non lectus placerat
        tincidunt. Pellentesque aliquam non odio ac porttitor. Nam finibus mattis sagittis.
        Ut hendrerit porttitor massa in aliquam. Duis laoreet fringilla feugiat.
        Sed maximus, urna in fringilla posuere, enim urna bibendum justo, vel molestie nibh orci nec lectus.
        Etiam a varius justo. Aenean nisl ante, interdum eget vulputate eget, iaculis ut massa.
        Suspendisse maximus sed purus id molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
        Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
        Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
        Nulla fringilla sagittis orci eu consectetur. Fusce eget dolor non lectus placerat
        tincidunt. Pellentesque aliquam non odio ac porttitor. Nam finibus mattis sagittis.
        Ut hendrerit porttitor massa in aliquam. Duis laoreet fringilla feugiat.
        Sed maximus, urna in fringilla posuere, enim urna bibendum justo, vel molestie nibh orci nec lectus.
        Etiam a varius justo. Aenean nisl ante, interdum eget vulputate eget, iaculis ut massa.
        Suspendisse maximus sed purus id molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
</FluentStack>
