<div class="tw-w-52">
    <FluentNavMenu>
        <FluentNavLink Href="/admin/generate-data" Icon="@(new Icons.Regular.Size20.ArrowRepeatAll())">Generate Data</FluentNavLink>
    </FluentNavMenu>
</div>
