<div class="top-0 left-0 h-screen m-0 bg-[#212b36] text-color-[#637381] text-white">
    <div class="pt-4 px-6 pb-6">
        <a href="#" class="text-xl font-bold">AdventureWorks</a>
    </div>
    <div class="py-2 px-6">
        <FluentNavMenu Width="250">
            <div class="[&_.fluent-nav-link]:flex [&_.fluent-nav-icon]:mr-1.5 text-sm">
                <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())">Dashboard</FluentNavLink>
            </div>
            <div class="py-2 [&_.fluent-nav-link]:flex [&_.fluent-nav-icon]:mr-1.5 text-sm">
                <FluentNavLink Icon="@(new Icons.Regular.Size20.ShoppingBag())">Orders</FluentNavLink>
            </div>
        </FluentNavMenu>
    </div>
</div>